.not-found-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4x);
  padding: var(--spacing-2x);
  background: var(--page-page-front);
  text-align: center;
}

.not-found-page .primary-button {
  margin-top: calc(var(--spacing-10x) - var(--spacing-4x));
}

.not-found-page__title {
  margin: 0;
  font-family: var(--family-sans-large);
  font-size: var(--size-heading-new-large);
  font-weight: var(--weight-semibold-large);
  line-height: var(--line-height-heading-new-large);
  letter-spacing: var(--tracking-heading-new-large);
  color: var(--text-icons-primary);
}

.not-found-page__text {
  margin: 0;
  max-width: 420px;
  font-family: var(--family-sans-large);
  font-size: var(--size-body-text-large);
  font-weight: var(--weight-medium-large);
  line-height: var(--line-height-body-text-large);
  letter-spacing: var(--tracking-body-text-large);
  color: var(--text-icons-secondary);
}

@media (min-width: 600px) and (max-width: 1299px) {
  .not-found-page__title {
    font-family: var(--family-sans-medium);
    font-size: var(--size-heading-new-medium);
    font-weight: var(--weight-semibold-medium);
    line-height: var(--line-height-heading-new-medium);
    letter-spacing: var(--tracking-heading-new-medium);
  }

  .not-found-page__text {
    font-family: var(--family-sans-medium);
    font-size: var(--size-body-text-medium);
    font-weight: var(--weight-medium-medium);
    line-height: var(--line-height-body-text-medium);
    letter-spacing: var(--tracking-body-text-medium);
  }
}

@media (min-width: 400px) and (max-width: 599px) {
  .not-found-page__title {
    font-family: var(--family-sans-small);
    font-size: var(--size-heading-new-small);
    font-weight: var(--weight-semibold-small);
    line-height: var(--line-height-heading-new-small);
    letter-spacing: var(--tracking-heading-new-small);
  }

  .not-found-page__text {
    font-family: var(--family-sans-small);
    font-size: var(--size-body-text-small);
    font-weight: var(--weight-medium-small);
    line-height: var(--line-height-body-text-small);
    letter-spacing: var(--tracking-body-text-small);
  }
}

@media (max-width: 399px) {
  .not-found-page__title {
    font-family: var(--family-sans-xsmall);
    font-size: var(--size-heading-new-xsmall);
    font-weight: var(--weight-semibold-xsmall);
    line-height: var(--line-height-heading-new-xsmall);
    letter-spacing: var(--tracking-heading-new-xsmall);
  }

  .not-found-page__text {
    font-family: var(--family-sans-xsmall);
    font-size: var(--size-body-text-xsmall);
    font-weight: var(--weight-medium-xsmall);
    line-height: var(--line-height-body-text-xsmall);
    letter-spacing: var(--tracking-body-text-xsmall);
  }
}