@import '../styles/maximpsn_raw_colors.css';
@import '../styles/maximpsn_semantic_colors.css';
@import '../styles/maximpsn_typography.css';
@import '../styles/maximpsn_numbers.css';
@import './styles/fonts.css';

:root {
  font-family: var(--family-sans-medium);
  line-height: 1.5;
  font-weight: var(--weight-regular-medium);
  color-scheme: light;
  color: var(--text-icons-primary);
  background-color: var(--page-page-front);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
