/* ==================================
   RAW COLORS
   Базовые цвета из Figma в рабочем CSS-формате
   ================================== */

:root {
  /* White */
  --color-white-1000: #ffffff;
  --color-white-900: #ffffffe5;
  --color-white-800: #ffffffcc;
  --color-white-700: #ffffffb2;
  --color-white-600: #ffffff99;
  --color-white-500: #ffffff80;
  --color-white-400: #ffffff66;
  --color-white-300: #ffffff4d;
  --color-white-200: #ffffff40;
  --color-white-100: #ffffff26;
  --color-white-0: #ffffff00;

  /* Zinc */
  --color-zinc-50: #f7f8fa;
  --color-zinc-100: #f3f3f5;
  --color-zinc-200: #e4e5e7;
  --color-zinc-300: #d4d5d8;
  --color-zinc-400: #9fa2a9;
  --color-zinc-500: #959aa3;
  --color-zinc-600: #52555c;
  --color-zinc-700: #3f4146;
  --color-zinc-800: #343538;
  --color-zinc-900: #18191b;
  --color-zinc-950: #090a0b;

  /* Pink */
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fccee8;
  --color-pink-300: #fda5d5;
  --color-pink-400: #fb64b6;
  --color-pink-500: #f6339a;
  --color-pink-600: #e60076;
  --color-pink-700: #c6005c;
  --color-pink-800: #a3004c;
  --color-pink-900: #861043;
  --color-pink-950: #510424;

  /* Emerald */
  --color-emerald-500: #00bc7d;

  /* Black */
  --color-black-600: #00000099;
}
