/* ==================================
   RAW COLORS
   Базовые цвета из Figma в рабочем CSS-формате
   ================================== */

:root {
  /* White */
  --color-white-1000: #ffffff;
  --color-white-900: #ffffffe5;
  --color-white-800: #ffffffcc;
  --color-white-700: #ffffffb2;
  --color-white-600: #ffffff99;
  --color-white-500: #ffffff80;
  --color-white-400: #ffffff66;
  --color-white-300: #ffffff4d;
  --color-white-200: #ffffff33;
  --color-white-100: #ffffff1a;
  --color-white-0: #ffffff00;

  /* Zinc */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #9f9fa9;
  --color-zinc-500: #71717b;
  --color-zinc-600: #52525c;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  /* Pink */
  --color-pink-50: #fdf2f8;
  --color-pink-100: #fce7f3;
  --color-pink-200: #fccee8;
  --color-pink-300: #fda5d5;
  --color-pink-400: #fb64b6;
  --color-pink-500: #f6339a;
  --color-pink-600: #e60076;
  --color-pink-700: #c6005c;
  --color-pink-800: #a3004c;
  --color-pink-900: #861043;
  --color-pink-950: #510424;

  /* Emerald */
  --color-emerald-500: #00bc7d;

  /* Black */
  --color-black-600: #00000099;
}
